@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap');

/* general styling */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #ccc;
}

main {
    margin: 0 auto;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 20px;
}

#section-story {
    text-align: left;
    font-family: Roboto, sans-serif;
    width: 80%;
    padding-top: 10px;
    padding-left: 20%;
    padding-bottom: 15px;
}

/* styling of headings and logo */

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ccc;
    text-shadow: 1px 1px slategray;
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    position: relative;
}

/* styling of navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    float: right;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/TEKA0017407.webp") no-repeat center center;
}

/* styling the quote and main heading  */

#main-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#cover-text,
#cover-text h2 {
    color: #fff;

}

#cover-text {
    font-size: 100%;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-weight: 100;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    border-radius: 10%;

    background-color: rgba(127, 113, 113, 0.7);

    bottom: 250px;
    right: 150px;

    position: absolute;
}

/* styling headings and paragraphs in index with code used from Love Running project*/

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}


/* image used on index page with code based on code from Love Running project */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/polarbear.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* styling of footer and links */

footer {
    bottom: 0px;
    height: 150px;
    background-color: #ccc;
    position: relative;
    font-size: 120%;
    padding: 50px;
    text-align: center;

}

footer>a {
    display: inline;
    text-align: center;
    font-size: 140%;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a;
    text-decoration: none;
}


/* styling image responsive gallery with code used from W3Schools */

div.gallery {
    border: 1px solid #ccc;

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}



/* media queries with some parts of code used from the Love Running project */

@media screen and (max-width: 1200px) {

    #left-about,
    #right-about {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }


    hr {
        display: none;
    }
}

/* contact form */

#contact-form {
    font-family: Roboto, sans-serif;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #3a3a3a;
    padding: 20px;
    color: white;
}

/* css styling of input, select and textarea with inspiration from W3Schools */
input[type=text],
input[type=email],
select,
textarea {
    font-family: Roboto, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* styling the submit button */
#contact-form button[type=submit] {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
}


/* For medium screen sizes - code borrowed from the Love Running Project and slightly edited */
@media screen and (max-width: 1200px) {

    #cover-text {
        left: 0;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;

    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;

    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}